<div class="login-box">
    <div class="m-5">
        <h2 class="nunito-sans">Ordem de serviço #{{ order.id }}</h2>
        <form >
            <div class="form-group">
                <label class="nunito-sans mb-1" for="equipment">Tipo de equipamento</label>
                <select class="form-control form-select p-3 nunito-sans" name="equipment" value={{order.equipment}} disabled>
                    <option value="TV">TV</option>
                    <option value="Celular">Celular</option>
                    <option value="Desktop">Desktop</option>
                    <option value="Notebook">Notebook</option>
                    <option value="Monitor">Monitor</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label class="nunito-sans mb-1" for="problemDescription">Descrição do problema</label>
                <textarea class="form-control p-3 nunito-sans" placeholder="Ex: Tela Trocada" name="problemDescription"
                    cols="30" rows="10" value={{order.problemDescription}} disabled></textarea>
            </div>
            <div class="d-flex justify-content-between form-group mt-2">
                <div class="form-group ">
                    <label class="nunito-sans mb-1" for="startDate">Data de recebimento</label>
                    <input class="form-control p-3 nunito-sans date-input" type="date" name="startDate" value={{order.startDate}} disabled>
                </div>
                <div class="form-group mb-2">
                    <label class="nunito-sans mb-1" for="deliveryDate">Previsão de entrega</label>
                    <input class="form-control p-3 nunito-sans date-input" type="date" name="deliveryDate" id="" value={{order.deliveryDate}} disabled>
                </div>
            </div>
            <div class="d-flex flex-row-reverse text-center mt-5">
                <div class="m-2">
                    <app-button type="submit" buttonString="Salvar" buttonType="stroke"></app-button>
                </div>
                <div class="m-2">
                    <app-button type="cancel" buttonString="Cancelar" buttonType="stroke" (click)="onCancel()"></app-button>
                </div>
            </div>
        </form>
    </div>
</div>