
.navbar {
    background-color: #333333;
}

.nav-link {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #fff;
    border: none;
}

.navbar-toggler-icon {
    background-color: transparent;
}

.app-order  {
    position: relative;
    right: 85px;
    background-color: #333333;
}
