<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/">
            <img class="m-4 navbar-brand" height="38px" width="249" src="assets/tax.svg">
        </a>
        @if(url !== "login") {
        <button class="navbar-toggler m-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flex-row-reverse collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <app-button class="m-4" buttonString="Adicionar" buttonType="full"></app-button>
            </ul>
        </div>
        }
    </div>
</nav>