<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/">
            <img class="m-4 navbar-brand" height="38px" width="249" src="assets/tax.svg">
        </a>
        @if(url !== "login") {
        <div class="flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <app-button class="m-4" buttonString="Adicionar" buttonType="full" (click)='open(addOrder)'></app-button>
            </ul>
        </div>
        <ng-template #addOrder let-modal>
                <app-add-order-modal class="app-order"></app-add-order-modal>
        </ng-template>
        }
    </div>
</nav>