
<div class="d-flex p-2 nunito-sans text-white">
    <p>Total( {{ orders.length }} )</p>
    <div class="vr"></div>
    <p>Em andamento( {{ getInProcessOrders().length }} )</p>
    <div class="vr"></div>
    <p>Concluídos( {{ getFinishedOrders().length }} )</p>
</div>
<table class="order-table nunito-sans">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Equipamento</th>
            <th scope="col">Início</th>
            <th scope="col">Previsão de entrega</th>
            <th scope="col">Problema apresentado</th>
            <th scope="col">Funcionário responsável</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @if(orders.length === 0) {
            <tr>
                <td colspan="8" class="text-center">Nenhuma ordem de serviço cadastrada.</td>
            </tr>
        } @else {
            @for(order of orders; track order.id) {
                <tr [class.selectedRow]="rowIsSelected(order.id)" (click)="onRowClick(order.id)" style="cursor: pointer;" 
                (mouseup)="detectRightMouseClick($event, order)">
                    <td>
                        @if(rowIsSelected(order.id)) {
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault" checked>
                        } @else {
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        }
                    </td>
                    <th scope="row">{{order.equipment}}</th>
                    <td>{{order.startDate}}</td>
                    <td>{{order.deliveryDate}}</td>
                    <td>{{order.problemDescription}}</td>
                    <td>{{order.personInCharge}}</td>
                    @if(order.status === "Em andamento") {
                        <td class="progress-text">{{order.status}}</td>
                    } @else {
                        <td class="finalized-text">{{order.status}}</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<div id="contextmenu" class="contextmenu" [ngStyle]="rightPanelStyle" (appClickOutside)="closeContextMenu()">
    <div class="wrapper">
        <div class="content">
            <ul class="menu">
                @if(selectedRowIds.size <= 1) {
                    <li class="item" (click)="onOrderView(orderView)">
                        <img src="assets/icons/eye.svg" width="17px" class="uil uil-eye"/>
                        <span class="nunito-sans-300">Ver mais</span>
                    </li>
                } 
                <li class="item" (click)="onOrderChangeResponsable(responsableOrder)">
                    <img src="assets/icons/link.svg" width="17px" class="uil uil-eye" />
                    <span class="nunito-sans-300">Alterar responsável</span>
                </li>
                @if(selectedRowIds.size <= 1) {
                    <li class="item" (click)="onOrderFinish(finishOrder)">
                        <img src="assets/icons/check.svg" width="17px" class="uil uil-eye" />
                        <span class="nunito-sans-300">Finalizar</span>
                    </li>
                }
                <li class="item" (click)="onOrderDelete()">
                    <img src="assets/icons/trash.svg" width="17px" class="uil uil-eye" />
                    <span class="nunito-sans-300">Delete</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #orderView let-modal>
    <app-view-order-modal class="view-order" order={{currentOrder}}></app-view-order-modal>
</ng-template>

<ng-template #responsableOrder let-modal>
    <app-responsable-order-modal currentOrder={{currentOrder}} selectedOrders={{selectedOrders}} class="view-order"></app-responsable-order-modal>
</ng-template>

<ng-template #finishOrder let-modal>
    <app-finish-order-modal class="view-order"></app-finish-order-modal>
</ng-template>