<table class="order-table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Equipamento</th>
            <th scope="col">Início</th>
            <th scope="col">Previsão de entrega</th>
            <th scope="col">Problema apresentado</th>
            <th scope="col">Funcionário responsável</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="checkbox" type="checkbox"></td>
            <th scope="row">Celular</th>
            <td>22/02/2024</td>
            <td>27/02/2024</td>
            <td>Câmera não funcionando.</td>
            <td>João</td>
            <td>Finalizado</td>
            <td>
                <div class="menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </td> <!-- Menu -->
        </tr>
     
    </tbody>
</table>