.order-table {
    color: #ffffff;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1273px;
    margin-bottom: 100px;
} 

.order-table tbody tr:nth-child(odd) {
    background-color: #333333;
}

.order-table tbody tr:nth-child(even) {
    background-color: #555555;
}

.order-table thead tr {
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: left;
    border-bottom: #ffffff 1px solid;
}

.form-check-input {
    background-color: transparent;
    margin-right: -50px;
}

.form-check-input:checked {
    background-color: #006eff;
}

.order-table th, .order-table td {
    padding: 12px 15px;
}

.vr {
    width: 1px;
    height: 25px;
    margin: 0 10px;
    background: #ffffff;
    opacity: 0.8;
}

.selectedRow {
    border: 2px solid #006effa2;
}

.progress-text {
    color: #ffee00;
}

.finalized-text {
    color: #30cc00;
}

.contextmenu {
    position: relative;
}

.wrapper {
    position: absolute;
    width: 250px;
    height: 167px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
    padding: 10px 12px;
}

.content .item {
    list-style: none;
    font-size: 20px;
    height: 35px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px 0 10px;
}

.content .item:hover {
    background: #f2f2f2;
}

.content .item span {
    margin-left: 8px;
    font-size: 19px;
}

.view-order {
    position: relative;
    right: 85px;
    background-color: #333333;
}