.order-table {
    color: #ffffff;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1273px;
    margin-bottom: 100px;
} 

.order-table tbody tr:nth-child(odd) {
    background-color: #333333;
}

.order-table tbody tr:nth-child(even) {
    background-color: #555555;
}

.order-table thead tr {
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: left;
    border-bottom: #ffffff 1px solid;
}

.form-check-input {
    background-color: transparent;
    margin-right: -50px;
}

.form-check-input:checked {
    background-color: #006eff;
}

.order-table th, .order-table td {
    padding: 12px 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
}

.menu div {
    width: 2px;
    height: 2px;
    background: #ffffff;
}

.vr {
    width: 1px;
    height: 25px;
    margin: 0 10px;
    background: #ffffff;
    opacity: 0.8;
}

.selectedRow {
    background-color: #3f3f3f;
}

.progress-text {
    color: #ffee00;
}

.finalized-text {
    color: #30cc00;
}

.contextmenu {
    position: absolute;
    background-color: #333333;
    border-radius: 0px;
    padding: 10px;
    display: none;
    z-index: 100;
    height: 200px;
    width: 200px;
    background-color: #ff0000;
}