.logo-1 {
    color: #f7955b;
    font-size: 25px;
    font-weight: bold;
}

.logo-2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
}

.navbar {
    background-color: #1a1a1a;
    position: relative;
}

.nav-link {
    color: #ffffff;
}