<div class="login-box">
    <div class="m-5">
        <h2 class="text-left nunito-sans">Entrar</h2>
        <p class="lighter-text nunito-sans">Bem-vindo de volta!</p>
        <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
            <div class="form-group">
                <input type="email" class="form-control p-3 nunito-sans" id="email" placeholder="Email" name="email"  
                [(ngModel)]="admin.email" ngModel>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control p-3 nunito-sans" id="pwd" placeholder="Senha" name="password"  
                [(ngModel)]="admin.password" ngModel>
            </div>
            <div class="mt-2 ms-1 form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember" 
                [(ngModel)]="admin.remember" ngModel>
                <label class="lighter-text form-check-label nunito-sans-300" for="rememberMe">Lembrar de mim</label>
            </div>
            <div class="text-center mt-4">
                <app-button type="submit" buttonString="Entrar" buttonType="full"></app-button>
            </div>
        </form>
    </div>
</div>